{% extends 'myApp/base.html' %}

{% load staticfiles %}

{% block title %}Register{% endblock %}

{% block body_block %}
  <h1>Register with myApp</h1>
  {% if registered %}
  <strong>thank you for registering!</strong>
  {% else %}
  <strong>Please register here!</strong><br />
  <form id="user_form" method="post" action="/myApp/register/" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <input type="submit" name="submit" value="Register" />
  </form>
  {% endif %}
{% endblock %}
